<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      margin: 10;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
    }

    img {
      max-width: 90%;
      max-height: 90%;
      object-fit: contain;
    }
  </style>
</head>


</body>
</html>
