html, body {
    margin: 10;
    padding: 0;
    overflow: hidden;
}

#game {
    position: center;
    inset: 0;
    overflow: hidden;
}

#background {
    position: absolute;
    width: auto;
    height: auto;
    object-fit: center;
    background-color: black;
}
