<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 209, 227);
    }

    img {
      max-width: 90%;
      max-height: 90%;
      object-fit: contain;
    }
  </style>
</head>

<body>

  <img src="yourimage.png">

</body>
</html>
